@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

* {
	font-family: 'Montserrat', sans-serif;
}

:root{
    --btn-color: #0B63DC;
  }

/*NAVBAR*/

.navbar .getstarted {
	background: #106eea;
	margin-left: 30px;
	border-radius: 4px;
	font-weight: 400;
	color: #fff;
	text-decoration: none;
	padding: .5rem 1rem;
	line-height: 2.3;
}

.navbar-nav a {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 500;
}

.navbar-brand {
	color: #000;
	font-size: 25px;
	font-weight: bold;
	letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
}

.navbar-brand span {
    color: #106eea;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
	color: #000;
}
.navbar-light .navbar-nav .nav-link {
	color: #000;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: #000;
}
.w-100 {
	height: 100vh;
}
.navbar-toggler {
	padding: 1px 5px;
	font-size: 18px;
	line-height: 0.3;
	background: #fff;
}

.bars {
  padding-right: -10px;
}

/*BANNER*/

section.bannernya {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 110px 100px;
	color: #fff;
}
@media (max-width:1000px) {
	section.bannernya {
		padding: 100px 50px;
	}
}
@media (max-width:600px) {
	section.bannernya {
		padding: 125px 30px;
	}
}
section.bannernya p {
	max-width: 800px;
	text-align: center;
	margin-bottom: 35px;
	padding: 0 20px;
	line-height: 2;
}
.banner-area {
	position: relative;
	justify-content: center;
	min-height: 100vh;
	color: #fff;
	text-align: center;
}
.banner-area .banner-img {
	background-image: url(https://img.freepik.com/free-vector/gradient-galaxy-background_23-2148983655.jpg?w=2000);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-background-size: cover;
	background-size: cover;
	z-index: -1;
	background-position: center center;
}
.banner-area .banner-img::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: .7;
}
.banner-area h1 {
	margin-bottom: 15px;
	font-size: 65px;
	text-transform: uppercase;
}
.banner-area h1 span {
	color: #0B63DC;
}
.banner-area h3 {
	font-size: 25px;
	font-weight: 100;
	text-transform: uppercase;
}
.banner-area .banner-btn {
	padding: 15px 35px;
	background: #0B63DC;
	text-transform: uppercase;
}
@media (max-width:800px) {
	.banner-area {
		min-height: 575px;
	}
	.banner-area h1 {
		font-size: 27px;
	}
	.banner-area h3 {
		font-size: 20px;
	}
	.banner-area a.banner-btn {
		padding: 8px 20px;
	}
}


/* DEKSTOP VERSION */
  
@media (min-width: 892px) {
    .navbar-brand, .nav-link {
        color: black !important;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    }

    .nav-link {
        margin-right: 30px;
        text-transform: uppercase;
    }

    .about {
      margin-top: 150px;
    }
    .navbar-light .navbar-brand {
      font-size: 25px;
    }
}